
<div class="card">
    <h1>Register</h1>
    <form (ngSubmit)="register(email.value, password.value)">
        <div class="input-label">
            <label for="">Email</label>
            <input type="text" required name="email" #email>
        </div> 
        <div class="input-label">
            <label for="">Password</label>
            <input type="password" name="password" #password required>
        </div>
        <button type="submit">Register</button>
    </form>
    <div class="link">
        Do you have an account?  <a href="/login">Login</a>  
    </div>
</div>
  
  